<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>ToDo List in Vue.js</title>
		<link text="text/css" rel="stylesheet" href="style.css"/>
    </head>

    <body>
        <!-- elemento root do meu app -->
        <div class="container" id="app">
			<h3>{{ title }}</h3>
			<section class="panel">
				<input type="checkbox" id="mark-all" v-bind:checked="areAllSelected" v-on:click="selectAll"/>
				<input type="text" placeholder="what do you need to do?" autofocus class="text-input" v-model="text" v-on:keyup.enter="addTodo()">
				<button v-on:click="clearTodo()">Clear List</button>
			</section>

            <ul class="list">
                <li v-for="item in list" v-bind:class="{done: item.checked}">
					<input type="checkbox" class="checkbox" v-model="item.checked"/>
                    <span>{{ item.text }}</span>
                    <button class="delete" v-on:click="removeTodo(item)">X</button>
                </li>
            </ul>
        </div>

        <!-- scripts JS -->
        <script src="vue.js"></script>
        <script>
            new Vue({
                el: '#app',
                data: {
					title: 'TODO LIST APP WITH VUE.JS',
                    text: '',
                    list: []
                },

                methods: {
                    addTodo() {
						var item = this.text.trim();
						
						if(item) {
							this.list.push({
								text: item,
								checked: false
							})
							this.text = ''
						}
                    },

                    removeTodo(item) {
						var index = this.list.indexOf(item);
                        this.list.splice(index, 1)
                    },
					
					clearTodo() {
						this.list = [];
					},
					
					selectAll(item) {
						var targetValue = this.areAllSelected ? false : true;
						for (var i = 0; i < this.list.length; i++) {
							this.list[i].checked = targetValue;
						}
					}
                },
				
				computed: {
					areAllSelected() {
						return this.list.every(function(item) {
							return item.checked;
						}) && this.list.length > 0;
					}
				}
            })
        </script>
    </body>
</html>
